solutions/LVCommissionPortalAutomations/Workflows/AddRoleLoanOfficerRowWhenContactAddorEdit-4F5D161F-2F3F-F011-B4CB-6045BD078E56.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "lv_sharedcommondataserviceforapps_f3ceb"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "53d1de1d-19fb-46cd-8fc4-14c5dcae137e"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dc4daed8-c5bd-4c39-a0fb-5b99713f298d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "powerpagecomponents",
              "$select": "powerpagecomponentid,powerpagecomponenttype",
              "$filter": "powerpagecomponenttype eq 11 and name eq 'Loan Officer'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "For_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Relate_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f0c0d323-1749-46ae-9940-6660cf4c7a11"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "AssociateEntities",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/contactid']",
                  "associationEntityRelationship": "powerpagecomponent_mspp_webrole_contact",
                  "item/@odata.id": "@items('For_each')?['@odata.id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4edc4be0-f8b9-46d4-a347-3759f9ab478c"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}